<h1>Wat kan ik voor je doen?</h1>
<img alt="wat-kan-ik-voor-je-doen" src="assets/images/wat-kan-ik-voor-je-doen.jpg" class="page-image"/>
<p></p>

<p>Wil je je Nederlandse taalvaardigheid verbeteren? Ben je een inburgeraar die examen wil doen? Wil je
  korte en effectieve e-mails versturen? Talent voor Taal verzorgt Nederlandse taaltrainingen op maat.</p>

<h2>De intake</h2>
<img alt="wat-kan-ik-voor-je-doen2" src="assets/images/wat-kan-ik-voor-je-doen2.jpg" class="page-image"/>
<p></p>

<p>Voordat je beslist of je bij Talent voor Taal een training wil volgen, hebben we een intakegesprek.
  Tijdens de intake maken we kennis en spreken we over het niveau, de verwachtingen, de methode,
  de werkvormen en de toetsing. Na de intake ontvang je een advies met hierin een voorstel voor de lessen. Daarna maken
  we onze definitieve afspraken. De intake is gratis en is online of op locatie in Voorburg.</p>

<h2>Op locatie of online</h2>
<img alt="wat-kan-ik-voor-je-doen3" src="assets/images/wat-kan-ik-voor-je-doen3.jpg" class="page-image"/>
<p></p>

<p>De privétraining volg je op je werkplek of bij Talent voor Taal in Voorburg of online via Skype, Zoom of
  Microsoft Teams. We werken altijd met een cursusmethode en elke les bereid je goed voor. Tijdens de les oefenen we
  samen en breng je het geleerde in praktijk.</p>

<h2>Nederlands op de werkvloer</h2>

<p>Een training op de werkvloer is op maat samengesteld en is gericht op de werksituatie. Tijdens de training leer je
  beter communiceren met collega’s en cliënten. We betrekken je verslagen, e-mails en je gesprekken op de werkvloer in
  de les. Verder krijg je praktijkopdrachten die je op de werkplek uitvoert.</p>

<h2>Examentraining</h2>
<p>Talent voor Taal is goed op de hoogte van alle onderdelen van de inburgering en het Staatsexamen.
  Wil je deze examens doen of ben je gezakt voor een deel van het examen? Ik help je graag met de
  voorbereiding voor het examen.</p>

<h2>Workshops en intervisie</h2>
<p>Ik werk al vele jaren als docent Nederlands als tweede taal. Deze ervaring deel ik graag met andere NT2-docenten en
  met vrijwilligers die actief zijn als taalcoach. Voorbeelden van ondersteuning:</p>
<ul>
  <li>Een basistraining voor taalvrijwilligers.</li>
  <li>Didactische workshops over bijvoorbeeld activerende werkvormen, differentiëren in het onderwijs, woordenschatverwerving.</li>
  <li>Een workshop over online lesgeven.</li>
  <li>Een docententraining over de ins en outs van het Staatsexamen NT2.</li>
  <li>Het opzetten en begeleiden van een intervisie-traject voor docenten.</li>
</ul>
