<h1>Expertise doorgeven</h1>
<img alt="Expertise" src="assets/images/Expertise.jpg" class="page-image"/>
<p></p>

<p>Ik werk al vele jaren als docent Nederlands als tweede taal. Deze ervaring deel ik
  graag met andere NT2-docenten en met vrijwilligers die actief zijn als taalcoach.
  Voorbeelden van ondersteuning:</p>

<ul>
  <li>Een basistraining voor taalvrijwilligers. Wat zijn succesfactoren bij het leren van de
    Nederlandse taal, hoe kan je feedback geven aan je taalleerder, waarom is woordenschat zo
    belangrijk?
  <li>Een workshop over activerende werkvormen en differentiëren in het onderwijs.</li>
  <li>Een workshop over online lesgeven via Zoom.</li>
  <li>Het opzetten en begeleiden van een intervisie-traject voor NT2-docenten.</li>
  <li>Een training over woordenschatverwerving in het NT2-onderwijs.</li>
  <li>Een training over de ins en outs van het Staatsexamen NT2 aan N2-docenten.</li>
</ul>

