<h1>Contact</h1>
<img alt="Contact" src="assets/images/Contact.jpg" class="page-image"/>
<p></p>

<p>
  Talent voor Taal<br/>
  Corintha Apon<br/>
  M 06 48861056<br/>
  <a href="mailto:corintha@talentvoortaal.nl">corintha@talentvoortaal.nl</a><br/>
  <br/>
  Je kunt me mailen, bellen of appen. Ik reageer snel, uiterlijk binnen 2 werkdagen.<br/>
  <br/>
  KvK nr. 27354321<br/>
  Register <a href="https://bvnt2.org/beroepsregister-nt2-docenten-bvnt2/" target="_blank">BVNT2</a><br/>
  <br/>
  <a href="assets/files/Algemene_voorwaarden.pdf">Algemene Voorwaarden</a><br/>
  <a href="assets/files/Privacyverklaring_Talent_voor_Taal.pdf">Privacyverklaring Talent voor Taal</a><br/>
  <br/>
  <a href="https://www.facebook.com/TalentvoorTaal" target="_blank"><img alt="Facebook" src="assets/svgs/facebook_purple.svg" class="icon"/></a>
  <a href="https://www.linkedin.com/in/corinthaapon" target="_blank"><img alt="Linked In" src="assets/svgs/linked_in_purple.svg" class="icon"/></a>
  <a href="https://www.crkbo.nl/Register/Instellingen" target="_blank"><img alt="CRKBO" src="assets/images/CRKBO.png" class="icon"/></a>
</p>
