<h1>Cursist</h1>
<p>Wilt u uw Nederlandse taalvaardigheid verbeteren? Bent u een inburgeraar die examen gaat doen? Wilt u schrijven
  zonder spelfouten? Talent voor Taal verzorgt privétrainingen op maat.</p>

<img alt="Cursist" src="assets/images/Cursist.jpg" class="page-image"/>
<p>‘Leren doe je samen’</p>

<h2>Intake</h2>
<p>Voordat u beslist of u bij Talent voor Taal een training wilt volgen, heeft u een intakegesprek met uw docent.
  Tijdens de intake maken we kennis en spreken we over het niveau, de verwachtingen, de methode, de werkvormen en de
  toetsing. Ook is het mogelijk dat u een intaketoets doet, zodat de docent uw niveau goed kan inschatten. Na de intake
  ontvangt u een advies met hierin een voorstel voor de lessen. Daarna maken we onze definitieve afspraken. Aan de
  intake zijn geen kosten verbonden.</p>

<h2>Training op maat</h2>
<p>De training is afgestemd op uw wensen en verwachtingen. We werken hard en we werken met afwisselende werkvormen.</p>

<h2>Examentraining op maat</h2>
<p>Talent voor Taal begeleidt cursisten die zich voorbereiden op het inburgeringsexamen of het staatsexamen NT2. Bent u
  gezakt voor een deel van het examen? U volgt dan een training waarin u werkt aan de onderdelen die voor u van belang
  zijn. Uw docent is erkend beoordelaar en is daarom goed op de hoogte van alle onderdelen van de examens.</p>

<h2>Training via Skype</h2>
<p>Woont u niet in de Haagse regio, of woont u in het buitenland? U kunt de training ook via Skype volgen. Vanuit huis
  en via de computer heeft u direct contact met uw docent. U heeft een computer met internetverbinding nodig, een
  headset en bij voorkeur een webcam. Uiteraard installeert u het gratis programma <a href="https://www.skype.com/nl/" target="_blank">Skype</a>. Maak een afspraak voor een
  intakegesprek (via Skype!) en vraag naar de mogelijkheden.</p>
