<h1>Wat kan ik voor je doen?</h1>
<img alt="Cursist" src="assets/images/Cursist.jpg" class="page-image"/>
<p></p>

<p>Wil je je Nederlandse taalvaardigheid verbeteren? Ben je een inburgeraar die examen wil doen? Wil je
  korte en effectieve e-mails versturen? Talent voor Taal verzorgt taaltrainingen op maat.</p>

<h2>Kennismaken en de intake</h2>
<p>Voordat je beslist of je bij Talent voor Taal een training wil volgen, hebben we een intakegesprek.
  Tijdens de intake maken we kennis en spreken we over het niveau, de verwachtingen, de methode,
  de werkvormen en de toetsing. Ook doe je een intaketoets, zodat ik goed je niveau kan inschatten. Na
  de intake ontvang je een advies met hierin een voorstel voor de lessen. Daarna maken we onze
  definitieve afspraken. De intake is gratis en is online of op locatie in Voorburg.</p>

<h2>Training op locatie of online</h2>
<p>De privétraining volg je op je werkplek of bij Talent voor Taal in Voorburg of online via Skype of Zoom.
  We werken altijd met een cursusmethode en elke les bereid je goed voor. Tijdens de les oefenen we
  samen en breng je het geleerde in praktijk.</p>

<h2>Examentraining</h2>
<p>Talent voor Taal is goed op de hoogte van alle onderdelen van de inburgering en het Staatsexamen.
  Wil je deze examens doen of ben je gezakt voor een deel van het examen? Ik help je graag met de
  voorbereiding voor het examen.</p>

<h2>Verdiepingsworkshops</h2>
<p class="mb-0">Talent voor Taal werkt al vele jaren als docent Nederlands als tweede taal. Deze ervaring deel ik
  graag met andere NT2-docenten en met vrijwilligers die actief zijn als taalcoach. Voorbeelden van
  workshops:</p>
<ul>
  <li>Een basistraining voor taalvrijwilligers. Wat zijn succesfactoren bij het leren van de
    Nederlandse taal, hoe kan je feedback geven aan je taalleerder, waarom is woordenschat zo
    belangrijk?
  <li>Een workshop aan taalvrijwilligers over werkvormen die je kunt inzetten.</li>
  <li>Een Skypetraining ‘woordenschatverwerving’ voor NT2-docenten.</li>
  <li>Een training over de ins en outs van het Staatsexamen NT2 aan N2-docenten.</li>
  <li>Een workshop aan docenten over ‘Online lesgeven via Zoom’.</li>
</ul>

