<h1>Werkgever</h1>
<p>Vindt u dat uw werknemers niet goed in staat zijn om in de Nederlandse taal te communiceren? Begrijpen zij de
  werkinstructies niet goed? Verstuurt de receptioniste mails met spelfouten? Talent voor Taal verzorgt groepstrainingen
  en privétrainingen op maat.</p>

<img alt="Werkgever" src="assets/images/Werkgever.jpg" class="page-image"/>
<p></p>

<h2>Eerste gesprek</h2>
<p>Voordat u beslist of u zaken gaat doen met Talent voor Taal hebben we een eerste gesprek. We bespreken uw wensen en verwachtingen en we maken afspraken over de intake met de cursist(en). Vervolgens ontvangt u een schriftelijk advies met hierin de inhoud en werkwijze van de training.</p>

<h2>Nederlands op de werkvloer</h2>
<p>De werksituatie van de cursist staat centraal. Dit betekent dat we werken met documenten die gebruikt worden op de werkplek en dat we bijvoorbeeld feedback geven op opnames van ‘echte’ telefoongesprekken. Ook krijgt de cursist opdrachten die gerelateerd zijn aan de werkzaamheden. De training wordt afgesloten met een assessment op maat waarbij de werkgever ook aanwezig is.</p>

<h2>Meer informatie?</h2>
<p>Neem gerust <a routerLink="/contact">contact</a> op om een afspraak te maken.</p>

<h2>Talent voor Taal werkt samen met o.a.:</h2>
<ul>
  <li>Fox AOB</li>
  <li>Stichting Lezen en Schrijven</li>
  <li>Vluchtelingen Welzijn Rijswijk</li>
  <li>AstraZeneca Nederland</li>
  <li>Capgemini Nederland</li>
</ul>
