<h1>Wie is Corintha?</h1>
<img alt="Voorstellen" src="assets/images/Voorstellen.jpg" class="page-image"/>
<p></p>

<p>Ik ben een docent die met veel enthousiasme de Nederlandse taallessen verzorgt. Bij alle trainingen
  staat het leren door te doen centraal. Er is veel interactie in de les en de cursisten gaan altijd met
  praktische opdrachten aan de slag die passen bij de leersituatie. Ik werk met afwisselende
  werkvormen, zodat elke cursist actief blijft en veel leert.</p>

<h2>Een korte CV</h2>
<p>Ik heb de Lerarenopleiding in de vakken Nederlands en Frans afgerond. Daarna werkte ik als docent
  in het bedrijfsleven en in 2004 maakte ik kennis met het vakgebied Nederlands als Tweede Taal
  (NT2). Sindsdien ben ik in hart en nieren NT2 docent en heb ik mijn eigen bedrijf opgezet. Ik heb de
  post HBO opleiding voor NT2 docent gevolgd en ik ben gecertificeerd NT2 docent van de BVNT2.</p>

<h2>Mijn cursisten</h2>
<p>De meeste cursisten zijn anderstaligen, die graag hun taalvaardigheid willen verbeteren of een bepaald
  examen willen halen. Daarnaast geef ik didactische trainingen aan collega-docenten en aan
  vrijwilligers die als taalmaatje actief zijn.</p>

<h2>Andere werkzaamheden</h2>
<p>Ik ben allereerst docent, dat is mijn grote passie. Daarnaast ben ik ook jaren beoordelaar van het
  inburgeringsexamen en het staatsexamen NT2 geweest. Ik weet daarom wat deze examens
  inhouden, zodat ik mijn cursisten goed kan begeleiden. Verder begeleid ik stagiaires en
  taalvrijwilligers.</p>
