<h1>Wat zeggen anderen?</h1>
<img alt="wat-zeggen-anderen" src="assets/images/wat-zeggen-anderen.jpg" class="page-image"/>
<p></p>

<h2>Cursisten</h2>
<ul>
  <li>Ana: Ik heb meer durf om met andere mensen te praten.</li>
  <li>Atilla: Ik heb goed nieuws, we zijn met een 9 geslaagd voor het leesexamen. Dank je wel
    Corintha!
  </li>
  <li>Medewerker Florence: Ik leer heel veel, ik durf nu mailtjes te sturen naar mijn collega’s. Corintha is heel
    geduldig.
  </li>
  <li>Marzena: Met Corintha werk ik altijd heel goed samen. De lessen met haar zijn erg
    interessant. Ik stel ook haar gevoel voor humor op prijs. De echte lerares!
  </li>
  <li>Zeynep: I advise Corintha to most of my friends because I think she is very helpful, very
    kind and teach me a lot.
  </li>
</ul>

<h2>Contactpersonen</h2>
<img alt="wat-zeggen-anderen2" src="assets/images/wat-zeggen-anderen2.jpg" class="page-image"/>
<p></p>

<ul>
  <li>Vluchtelingenwelzijn Rijswijk: Ik heb het altijd intens prettig gevonden om met je samen te
    werken, altijd vlot en adequaat en gevoelvol tegelijkertijd.
  </li>
  <li>Bibliotheek Rotterdam: Ik wil je heel erg bedanken voor het verzorgen van deze trainingen.
    Het was een groot succes!
  </li>
  <li>Bibliotheek aan de Vliet: Deskundig, toegankelijk, duidelijke communicatie en betrokkenheid
    zijn de woorden die ik zou kiezen als ik de samenwerking met jou zou moeten omschrijven.
  </li>
  <li>Bisbee Rotterdam: Heel erg bedankt voor het uitvoeren van de online workshops voor de
    docenten. Ik ben erg blij met onze goede samenwerking.
  </li>
</ul>

<h2>Taalvrijwilligers</h2>
<img alt="wat-zeggen-anderen3" src="assets/images/wat-zeggen-anderen3.jpg" class="page-image"/>
<p></p>

<ul>
  <li>Marylene: Dank voor je tijd, aandacht, deskundigheid en vriendelijke voorkomen.</li>
  <li>Anneke: Ik vond de bijeenkomsten heel inspirerend, en knap dat je voor een zo diverse groep
    met maatjes op allerlei niveaus een nuttige cursus in elkaar gesleuteld hebt. Chapeau!
  </li>
  <li>Marlies: De door jouw gegeven trainingen zijn heel leerzaam en prettig om te volgen.</li>
  <li>Ramesh: Wij, de cursisten waren vereerd met u. Ik heb nog met velen gesproken over het
    verloop van de cursus. We konden geen betere krijgen. Dank u voor uw aanstekelijke
    enthousiasme.
  </li>
</ul>

<p>&nbsp;</p>

<owl-carousel-o [options]="customOptions">
  <!-- We add the padding of the images to the width. -->
  <ng-template carouselSlide *ngFor="let image of images" [width]="image.width + 40">
    <img [src]="'assets/images/logos/' + image.filename"
         [alt]="image.filename"
         class="logo"/>
  </ng-template>
</owl-carousel-o>

<p></p>
