<input type="hidden" name="version" value="{{version}}"/>

<header class="header text-center">
  <h4 class="text-white" id="title">Talent voor Taal</h4>

  <nav class="navbar navbar-expand-lg navbar-dark px-3">
    <!-- Add empty element to make sure that the navbar-toggler shows on the right side of the navigation bar. -->
    <span></span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navigation" class="collapse navbar-collapse flex-column">
      <img alt="Corintha" src="assets/images/Corintha.jpg" class="rounded-circle pb-2"/>
      <p style="font-size: 10pt">Mijn naam is Corintha Apon. Ik help je met het leren van de Nederlandse taal.</p>

      <ul class="list-inline mb-0 display-desktop-only">
        <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/TalentvoorTaal"><img
          alt="Facebook" src="assets/svgs/facebook.svg"></a></li>
        <li class="list-inline-item"><a target="_blank" href="https://nl.linkedin.com/in/corinthaapon"><img
          alt="LinkedIn" src="assets/svgs/linked_in.svg"></a></li>
      </ul>

      <hr class="display-desktop-only"/>

      <ul class="navbar-nav flex-column text-start">
        <li *ngFor="let route of navigationRoutes">
          <!-- To make sure that the root url (for Home) is only shown as active when really on the home page,
               we need to add the exact option. This has no effect on the other links. -->

          <!-- When in mobile mode, we want to collapse the bar when clicking on a link. This must not be the case
               in desktop mode. The easiest way to achieve this, is by showing two different links, one with the
               data-bs-toggle and one without. The rest of the items should be identical. -->
          <div class="display-mobile-only">
            <a routerLink="{{route.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
               class="nav-link"
               data-bs-toggle="collapse" data-bs-target="#navigation">
              <i [ngClass]="route.data.iconClass" class="fa-fw"
                 style="padding-right: 30px;"></i>{{route.data.name}}
            </a>
          </div>
          <div class="display-desktop-only">
            <a routerLink="{{route.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
               class="nav-link">
              <i [ngClass]="route.data.iconClass" class="fa-fw"
                 style="padding-right: 30px;"></i>{{route.data.name}}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="wrapper d-flex flex-column h-100">
  <article>
    <div class="container flex-shrink-0">
      <router-outlet></router-outlet>
    </div>
  </article>

  <footer class="footer mt-auto text-center py-2 px-3">
    Corintha Apon | M 06 4886 1056 | info@talentvoortaal.nl
  </footer>
</div>
