/* Specific styling for the header component. */
header {
  background-color: #800080;
  color: #ffffff;
}

header h4 {
  padding-top: 0;
}

header img {
  max-width: 160px;
}

header hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

header a {
  color: #ffffff;
}

header a:hover {
  color: #ffffff !important;
}

.list-inline-item img {
  height: 40px;
}

.footer {
  background-color: #c0c0c0;
  color: white;
}

/* Below is the styling specific parts that differ between mobile and desktop. */
/* DESKTOP */
@media (min-width: 992px) {
  header {
    padding-top: 20px;
    width: 280px;
    height: 100%;
    position: fixed;
  }

  article {
    padding-top: 20px;
    padding-left: 20px;
  }

  .wrapper {
    padding-left: 280px;
  }

  .container {
    max-width: 800px;
  }

  .display-mobile-only {
    display: none !important;
  }

  .display-desktop-only {
    display: block !important;
  }
}

/* MOBILE */
@media (max-width: 991px) {
  header {
    position: static;
    width: inherit;
    height: auto;
  }

  header #title {
    position: absolute;
    width: 100%;
    top: 15px;
  }

  article {
    padding-top: 10px;
  }

  .display-mobile-only {
    display: block !important;
  }

  .display-desktop-only {
    display: none !important;
  }

  .wrapper {
    padding-top: 56px;
    margin-top: -56px;
  }
}

