<input type="hidden" name="version" value="{{version}}"/>

<header class="header text-center">
  <h4 class="text-white" id="title">Talent voor Taal</h4>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navigation" class="collapse navbar-collapse flex-column">
      <img alt="Corintha" src="assets/images/Corintha.jpg" class="rounded-circle pb-2"/>
      <p style="font-size: 10pt">Ik ben Corintha Apon. Ik ben een docent die met veel enthousiasme de Nederlandse
        taallessen verzorgt. Bij alle trainingen staat het leren door te doen centraal.</p>

      <ul class="list-inline mb-0">
        <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/TalentvoorTaal"><img
          alt="Facebook" src="assets/svgs/facebook.svg"></a></li>
        <li class="list-inline-item"><a target="_blank" href="https://nl.linkedin.com/in/corinthaapon"><img
          alt="Facebook" src="assets/svgs/linked_in.svg"></a></li>
      </ul>

      <hr/>

      <ul class="navbar-nav flex-column text-left">
        <li *ngFor="let route of navigationRoutes">
          <!-- To make sure that the root url (for Home) is only shown as active when really on the home page,
               we need to add the exact option. This has no effect on the other links. -->
          <a routerLink="{{route.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
             class="nav-link" data-toggle="collapse" data-target="#navigation">
            <i [ngClass]="route.data.iconClass" class="fa-fw"
               style="padding-right: 30px;"></i>{{route.data.name}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="wrapper">
  <article>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </article>
</div>
