<h1>English</h1>
<p>Talent voor Taal is based in the The Hague area and offers professional tuition in Dutch. Training modules are
  available both for native speakers who wish to improve certain aspects of their Dutch and for foreign students who
  wish to communicate more easily with their Dutch friends, colleagues and neighbours. The training methods are flexible
  and tuition will be adapted to your individual level and personal learning style.</p>

<p>Foreign students usually favour private lessons, but group tuition is also possible. Courses may be held in-company
  or at Talent voor Taal.
  Before subscribing to the training you will be invited for an interview (without obligation). Together we will discuss
  your entrance level and training needs. Taking your course goals, budget and time schedule into account, we can then
  draw up a tailor-made training format and planning.</p>

<p>Interested? For more information (in Dutch or English), please contact:</p>
<p>
  Talent voor Taal<br/>
  Corintha Apon<br/>
  M 06 48861056<br/>
  <a href="mailto:info@talentvoortaal.nl">info@talentvoortaal.nl</a>
</p>
