<h1>Wat zeggen anderen?</h1>
<img alt="Collega" src="assets/images/Collega.jpg" class="page-image"/>

<h2>Cursisten</h2>
<ul>
  <li>Marzena: Met Corintha werk ik altijd heel goed samen. De lessen met haar zijn erg
    interessant. Ik stel ook haar gevoel voor humor op prijs. De echte lerares!
  </li>
  <li>Zeynep: I advise Corintha to most of my friends because I think she is very helpful, very
    kind and teach me a lot.
  </li>
  <li>Ana: Ik heb meer durf om met andere mensen te praten.</li>
  <li>Atilla: Ik heb goed nieuws, we zijn met een 9 geslaagd voor het leesexamen. Dank je wel
    Corintha!
  </li>
</ul>

<h2>Contactpersonen</h2>
<ul>
  <li>Bibliotheek aan de Vliet: Deskundig, toegankelijk, duidelijke communicatie en betrokkenheid
    zijn de woorden die ik zou kiezen als ik de samenwerking met jou zou moeten omschrijven.
  </li>
  <li>Vluchtelingenwelzijn Rijswijk: Ik heb het altijd intens prettig gevonden om met je samen te
    werken, altijd vlot en adequaat en gevoelvol tegelijkertijd.
  </li>
  <li>Bibliotheek Rotterdam: Ik wil je heel erg bedanken voor het verzorgen van deze trainingen.
    Het was een groot succes!
  </li>
  <li>Bisbee Rotterdam: Heel erg bedankt voor het uitvoeren van de online workshops voor de
    docenten. Ik ben erg blij met onze goede samenwerking.</li>
</ul>

<h2>Taalvrijwilligers</h2>
<ul>
  <li>Marylene: Dank voor je tijd, aandacht, deskundigheid en vriendelijke voorkomen.</li>
  <li>Anneke: Ik vond de bijeenkomsten heel inspirerend, en knap dat je voor een zo diverse groep
    met maatjes op allerlei niveaus een nuttige cursus in elkaar gesleuteld hebt. Chapeau!
  </li>
  <li>Marlies: De door jouw gegeven trainingen zijn heel leerzaam en prettig om te volgen.</li>
  <li>Ramesh: Wij, de cursisten waren vereerd met u. Ik heb nog met velen gesproken over het
    verloop van de cursus. We konden geen betere krijgen. Dank u voor uw aanstekelijke
    enthousiasme.
  </li>
  <li>NT2-stagiaire: Ik ben heel blij dat ik de stap heb genomen om bij jou stage te lopen. Je hebt
    me enorm veel geleerd en ik leer nog steeds.</li>
</ul>
