<h1>Collega</h1>
<p>Bent u op zoek naar een gespecialiseerde NT2 docent om een opleidingstraject te verzorgen? Wilt u uw NT2 docenten
  bijscholen? Heeft u een ‘moeilijke’ vraag op NT2 gebied? Talent voor Taal denkt graag met u mee en verzorgt voor u
  trainingen en workshops op maat.</p>

<img alt="Collega" src="assets/images/Collega.jpg" class="page-image" />

<h2>Meer informatie?</h2>
<p>Neem gerust <a routerLink="/contact">contact</a> op om een afspraak te maken.</p>

<h2>Talent voor Taal werkt samen met o.a.:</h2>
<ul>
  <li>Fox AOB</li>
  <li>Stichting Lezen en Schrijven</li>
  <li>Vluchtelingen Welzijn Rijswijk</li>
  <li>AstraZeneca Nederland</li>
  <li>Capgemini Nederland</li>
</ul>
