/* You can add global styles to this file, and also import other style files */
body, html {
  min-height: 100%;
}

body {
  background-color: #ffffff;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #800080;
  padding-top: 10px;
}

h1 {
  /* Default is 40px. We decrease this slightly. */
  font-size: 35px;
}

a {
  color: #800080;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #800080;
}

/* Show images on pages with the same width as the container. */
.page-image {
  width: 100%;
}
