#carousel-quotes {
  background-color: #c0c0c0;
}

.carousel-control-prev, .carousel-control-next {
  width: 40px;
}

.carousel-inner {
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 991px) {
  #carousel-quotes {
    height: 136px;
  }
}
@media (min-width: 992px) {
  #carousel-quotes {
    height: 118px;
  }
}
