<h1>Over Talent voor Taal</h1>
<img alt="Home" src="assets/images/Home.jpg" class="page-image"/>
<p></p>

<p>Mijn naam is Corintha Apon. Ik help je met het leren van de Nederlandse taal, zodat je de taal
  beter kunt gebruiken in je dagelijks leven en op de werkvloer.</p>

<p>Bij alle trainingen leer je door te doen, dus veel samen praten en praktische opdrachten uitvoeren. Ik
  gebruik graag verschillende werkvormen in de les, die passen bij je leerdoel. Zo blijft de les actief en
  interessant.</p>

<p>Je volgt de training online, op je werkplek of op locatie van Talent voor Taal in Voorburg.</p>

<img alt="Home2" src="assets/images/Home2.jpg" class="page-image"/>
<p></p>

<div id="carousel-quotes" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel-quotes" data-bs-slide-to="0" class="active"
            aria-current="true"></button>
    <button type="button" data-bs-target="#carousel-quotes" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carousel-quotes" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#carousel-quotes" data-bs-slide-to="3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active card-body">
      Marzena: Met Corintha werk ik altijd heel goed samen. De lessen met haar zijn erg
      interessant. Ik stel ook haar gevoel voor humor op prijs. De echte lerares!
    </div>
    <div class="carousel-item card-body">
      Zeynep: I advise Corintha to most of my friends because I think she is very helpful, very
      kind and teach me a lot.
    </div>
    <div class="carousel-item card-body">
      Ana: Ik heb meer durf om met andere mensen te praten.
    </div>
    <div class="carousel-item card-body">
      Atilla: Ik heb goed nieuws, we zijn met een 9 geslaagd voor het leesexamen. Dank je wel Corintha!
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-quotes" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-quotes" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<p></p>
