<h1>Talent voor Taal</h1>
<p>Talent voor Taal is de bedrijfsnaam van Corintha Apon. Ik verzorg in de Haagse regio trainingen voor volwassenen op
  het gebied van de Nederlandse taal en inburgering.</p>
<p>U kunt lessen volgen in NT2 (Nederlands als tweede taal), inburgering, staatsexamen, Nederlands op de werkvloer,
  Nederlandse taalvaardigheid op hoger niveau.</p>

<img alt="Home1" src="assets/images/Home1.jpg" class="page-image"/>
<p></p>

<p>Bij alle trainingen van Talent voor Taal staat het ‘leren door te doen’ centraal. Dus veel interactie in de les en
  een manier van werken waarbij elke cursist aan de slag gaat met praktische opdrachten.</p>

<section class="float-right text-right">
<img alt="Home2" src="assets/images/Home2.jpg" class="page-image"/>
<p>‘Leren doe je samen’</p>
</section>
