<h1>Over Talent voor Taal</h1>
<img alt="Home" src="assets/images/Home.jpg" class="page-image"/>
<p></p>

<p>Mijn naam is Corintha Apon. Ik help je met het leren van de Nederlandse taal, zodat je de taal
  beter kunt gebruiken in je dagelijks leven en op de werkvloer.</p>

<p>Bij alle trainingen leer je door te doen, dus veel samen praten en praktische opdrachten uitvoeren. Ik
  gebruik graag verschillende werkvormen in de les, die passen bij je leerdoel. Zo blijft de les actief en
  interessant.</p>

<p>Je volgt de training online, op je werkplek of op locatie van Talent voor Taal in Voorburg.</p>

<img alt="Home2" src="assets/images/Home2.jpg" class="page-image"/>
<p></p>

<div id="carousel-quotes" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-indicators">
    <button *ngFor="let quote of quotes; let i = index; first as isFirst"
            type="button"
            data-bs-target="#carousel-quotes"
            [attr.data-bs-slide-to]="i"
            [class.active]="isFirst"
            [attr.aria-current]="isFirst ? 'true' : null"></button>
  </div>
  <div class="carousel-inner px-4 pb-4">
    <!-- Block with zero opacity to make sure that all the items will stay the same size. -->
    <div class="p-4 hidden">
      <p class="quote">"{{quotes[1].message}}"</p>
      <p class="quote-footer">{{quotes[1].author}}</p>
    </div>

    <div class="carousel-item p-4" *ngFor="let quote of quotes; first as isFirst" [class.active]="isFirst">
      <p class="quote">"{{quote.message}}"</p>
      <p class="quote-footer">{{quote.author}}</p>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carousel-quotes" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-quotes" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<p></p>
